<div class="wrapper">
    <div id="content" class="col-xs-12">
        <div class="container">
            <div class="main row">
                <div class="col-sm-12 col-md-4 left hidden-sm">
                    <div class="tab-box hidden-xs">
                        <ul class="text-center nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#buy">Mua</a></li>
                            <li><a data-toggle="tab" href="#sell">Bán</a></li>
                        </ul>
                        <div class="tab-content" id="main-tab">
                            <div id="buy" class="tab-pane fade in active" >
                                <div class="panel-group" id="accordion" >
                                    <div class="panel panel-default"  *ngFor = "let product of GroupProduct">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right " data-toggle="collapse" href="#{{product.groupProductId}}"
                                                data-parent="#accordion" aria-expanded="false" (click)="getTypeProduct(product.groupProductId)">
                                                <h4 class="panel-title">{{product.groupName}}</h4>
                                            </a>
                                        </div>
                                        <div id="{{product.groupProductId}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul >
                                                    <li class="active" *ngFor = "let type of TypeProduct"> 
                                                        <a  (click)="getSalePost(type.typeProductId)">{{type.typeName}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="sell" class="tab-pane fade" style="height: 200px;">
                                <p>Bạn hãy đăng nhập để dễ dàng quản lý tin đăng.</p>
                            </div>
                        </div>s
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 right">
                    <div class="content-box row">
                        <div class="breadcrumb">
                            <a>ChoMienPhi.net <i class="fa fa-angle-double-right"></i></a>
                            <a>Tin rao vặt</a>
                            <a><i class="fa fa-angle-double-right"></i> Hồ Chí Minh</a>
                            <i class="fa fa-angle-double-right"></i> Xe máy </div>
                        <h1>Rao vặt tại Hồ Chí Minh</h1>
                        <div class="tab-wrapper">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="?t=all&amp;v=list">Tất
                                        cả </a></li>
                                <!-- <li class=""><a href="?t=f&amp;v=list">Cá
                                        nhân 6,909</a></li>
                                <li class=""><a href="?t=c&amp;v=list">Công
                                        ty 10</a></li> -->
                                <!-- FiLTER -->
                                <li class="filter pull-right hidden-xs ">
                                    <ul class="type-filter">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-clock-o"></i>
                                                <i class="fa fa-long-arrow-down"></i>
                                                <i class="fa fa-long-arrow-up"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                VNĐ
                                                <i class="fa fa-long-arrow-down"></i>
                                                <i class="fa fa-long-arrow-up"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="all-articles" class="tab-pane fade in active">
                                    <ul class="list_type_box" >
                                        <li class="row" *ngFor = "let sale of SalePost">
                                            <div class="article-img col-xs-2">
                                                <a (click)="getDetail(sale.salePostId)">
                                                    <img src="http://localhost:9000/api/files/{{sale.imageDTOs[0].imageName}}"
                                                        alt="{{sale.imageDTOs[0].imageName}}"
                                                        title="{{sale.imageDTOs[0].imageName}}">
                                                </a>
                                            </div>
                                            <div class="article-desc col-xs-9">
                                                <a class="title" routerLink="/detail-product">{{sale.title}}</a>
                                                <p class="price">{{sale.price}}</p>
                                                <p class="desc-time">
                                                    <i class="fa fa-map-marker" aria-hidden="true">
                                                        &nbsp;{{sale.province}}
                                                    </i>
                                                    <span>|</span>
                                                    <i class="fa fa-clock-o" aria-hidden="true">
                                                        &nbsp;{{sale.startTime}}
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="article-bookmark text-right col-xs-1">
                                                <a class="title" href="">
                                                    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <!-- <li class="row">
                                            <div class="article-img col-xs-2">
                                                <a href="">
                                                    <img src="https://chomienphi.net/public/fe/images/no_image.png"
                                                        alt="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ"
                                                        title="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ">
                                                </a>
                                            </div>
                                            <div class="article-desc col-xs-9">
                                                <a class="title" href="">Bán xe Honda PCX 150 đời 2018, mới 95% ngay
                                                    chủ</a>
                                                <p class="price">58,800,000 VNĐ</p>
                                                <p class="desc-time">
                                                    <i class="fa fa-map-marker" aria-hidden="true">
                                                        &nbsp;Hồ Chí Minh
                                                    </i>
                                                    <span>|</span>
                                                    <i class="fa fa-clock-o" aria-hidden="true">
                                                        &nbsp;17 tiếng trước
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="article-bookmark text-right col-xs-1">
                                                <a class="title" href="">
                                                    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="article-img col-xs-2">
                                                <a href="">
                                                    <img src="https://chomienphi.net/public/fe/images/no_image.png"
                                                        alt="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ"
                                                        title="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ">
                                                </a>
                                            </div>
                                            <div class="article-desc col-xs-9">
                                                <a class="title" href="">Bán xe Honda PCX 150 đời 2018, mới 95% ngay
                                                    chủ</a>
                                                <p class="price">58,800,000 VNĐ</p>
                                                <p class="desc-time">
                                                    <i class="fa fa-map-marker" aria-hidden="true">
                                                        &nbsp;Hồ Chí Minh
                                                    </i>
                                                    <span>|</span>
                                                    <i class="fa fa-clock-o" aria-hidden="true">
                                                        &nbsp;17 tiếng trước
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="article-bookmark text-right col-xs-1">
                                                <a class="title" href="">
                                                    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="article-img col-xs-2">
                                                <a href="">
                                                    <img src="https://chomienphi.net/public/fe/images/no_image.png"
                                                        alt="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ"
                                                        title="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ">
                                                </a>
                                            </div>
                                            <div class="article-desc col-xs-9">
                                                <a class="title" href="">Bán xe Honda PCX 150 đời 2018, mới 95% ngay
                                                    chủ</a>
                                                <p class="price">58,800,000 VNĐ</p>
                                                <p class="desc-time">
                                                    <i class="fa fa-map-marker" aria-hidden="true">
                                                        &nbsp;Hồ Chí Minh
                                                    </i>
                                                    <span>|</span>
                                                    <i class="fa fa-clock-o" aria-hidden="true">
                                                        &nbsp;17 tiếng trước
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="article-bookmark text-right col-xs-1">
                                                <a class="title" href="">
                                                    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li> -->
                                    </ul>
                                    <div class="text-center mb15">
                                        <ul class="pagination pagination-sm pull-right m0">
                                            <li class="active"><a>1</a></li>
                                            <li><a href="https://chomienphi.net/mua/xe-may.htm?t=all&amp;a=3&amp;c=2&amp;fkeyword=&amp;sortby=fdate&amp;sorttype=DESC&amp;page=20"
                                                    data-ci-pagination-page="2">2</a></li>
                                            <li><a href="https://chomienphi.net/mua/xe-may.htm?t=all&amp;a=3&amp;c=2&amp;fkeyword=&amp;sortby=fdate&amp;sorttype=DESC&amp;page=40"
                                                    data-ci-pagination-page="3">3</a></li>
                                            <li><a href="https://chomienphi.net/mua/xe-may.htm?t=all&amp;a=3&amp;c=2&amp;fkeyword=&amp;sortby=fdate&amp;sorttype=DESC&amp;page=20"
                                                    data-ci-pagination-page="2" rel="next">»</a></li>
                                            <li><a href="https://chomienphi.net/mua/xe-may.htm?t=all&amp;a=3&amp;c=2&amp;fkeyword=&amp;sortby=fdate&amp;sorttype=DESC&amp;page=6900"
                                                    data-ci-pagination-page="346">→</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="about-text-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>