<div class="wrapper">
    <div id="content" class="col-xs-12">
        <div class="container">
            <div class="main row">
                <div class="col-sm-12 col-md-4 left hidden-sm">
                    <div class="tab-box hidden-xs">
                        <ul class="text-center nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#buy">Mua</a></li>
                            <li><a data-toggle="tab" href="#sell">Bán</a></li>
                        </ul>
                        <div class="tab-content" id="main-tab">
                            <div id="buy" class="tab-pane fade in active">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right " data-toggle="collapse"
                                                data-parent="#accordion" href="https://chomienphi.net/#bid-1">
                                                <h4 class="panel-title">Xe cộ</h4>
                                            </a>
                                        </div>
                                        <div id="bid-1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="active">
                                                        <a href="https://chomienphi.net/mua/xe-may.htm">
                                                            Xe máy </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/o-to.htm">
                                                            Ô tô </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/xe-dap.htm">
                                                            Xe đạp </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/xe-tai-xe-khac.htm">
                                                            Xe tải, Xe khác </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/phu-tung-phu-kien-xe.htm">
                                                            Phụ tùng, Phụ kiện xe </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="https://chomienphi.net/#bid-3">
                                                <h4 class="panel-title">Bất động sản - Mua bán</h4>
                                            </a>
                                        </div>
                                        <div id="bid-3" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/bat-dong-san-mua-can-ho-chung-cu.htm">
                                                            Căn hộ/Chung cư </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/bat-dong-san-mua-ban-nha-o.htm">
                                                            Nhà ở </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/bat-dong-san-mua-ban-dat.htm">
                                                            Đất </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/van-phong-mat-bang-kinh-doanh.htm">
                                                            Văn phòng, Mặt bằng kinh doanh </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="https://chomienphi.net/#bid-4">
                                                <h4 class="panel-title">Bất động sản - Thuê</h4>
                                            </a>
                                        </div>
                                        <div id="bid-4" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/can-ho-chung-cu.htm">
                                                            Căn hộ/Chung cư </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/bat-dong-san-thue-nha-o.htm">
                                                            Nhà ở </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/bat-dong-san-thue-dat.htm">
                                                            Đất </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/thue-van-phong-mat-bang-kinh-doanh.htm">
                                                            Văn phòng, Mặt bằng kinh doanh </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/phong-tro.htm">
                                                            Phòng trọ </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="https://chomienphi.net/#bid-5">
                                                <h4 class="panel-title">Đồ điện tử</h4>
                                            </a>
                                        </div>
                                        <div id="bid-5" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/dien-thoai-di-dong.htm">
                                                            Điện thoại di động </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/may-tinh-bang.htm">
                                                            Máy tính bảng </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/may-tinh-laptop.htm">
                                                            Máy tính, Laptop </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/may-anh-may-quay.htm">
                                                            Máy ảnh, Máy quay </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/tivi-loa-amply-may-nghe-nhac.htm">
                                                            Tivi, Loa, Amply, Máy nghe nhạc </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/phu-kien-linh-kien.htm">
                                                            Phụ kiện, Linh kiện </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="https://chomienphi.net/#bid-6">
                                                <h4 class="panel-title">Thời trang, Đồ dùng cá nhân</h4>
                                            </a>
                                        </div>
                                        <div id="bid-6" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/quan-ao.htm">
                                                            Quần áo </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/giay-dep-tui-xach-phu-kien.htm">
                                                            Giày dép, Túi xách, Phụ kiện </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/me-va-be.htm">
                                                            Mẹ và bé </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="https://chomienphi.net/#bid-7">
                                                <h4 class="panel-title">Nội ngoại thất, Đồ gia dụng</h4>
                                            </a>
                                        </div>
                                        <div id="bid-7" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/tu-lanh-may-lanh-may-giat.htm">
                                                            Tủ lạnh, Máy lạnh, Máy giặt </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/noi-ngoai-that-cay-canh.htm">
                                                            Nội ngoại thất, Cây cảnh </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/do-gia-dung-gia-dinh-khac.htm">
                                                            Đồ gia dụng gia đình khác </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="https://chomienphi.net/#bid-8">
                                                <h4 class="panel-title">Giải trí, Thể thao, Sở thích</h4>
                                            </a>
                                        </div>
                                        <div id="bid-8" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/vat-nuoi-thu-cung.htm">
                                                            Vật nuôi, Thú cưng </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/am-nhac-phim-sach.htm">
                                                            Âm nhạc, Phim, Sách </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/do-the-thao-da-ngoai.htm">
                                                            Đồ thể thao, Dã ngoại </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/suu-tam-game-so-thich-khac.htm">
                                                            Sưu tầm, Game, Sở thích khác </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="https://chomienphi.net/#bid-9">
                                                <h4 class="panel-title">Đồ dùng văn phòng, công nông nghiệp</h4>
                                            </a>
                                        </div>
                                        <div id="bid-9" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/do-dung-van-phong.htm">
                                                            Đồ dùng văn phòng </a>
                                                    </li>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/do-chuyen-dung-giong-nuoi-trong.htm">
                                                            Đồ chuyên dụng, Giống nuôi trồng </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="https://chomienphi.net/#bid-10">
                                                <h4 class="panel-title">Việc làm, Dịch vụ</h4>
                                            </a>
                                        </div>
                                        <div id="bid-10" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/viec-tim-nguoi.htm">
                                                            Việc tìm người </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/nguoi-tim-viec.htm">
                                                            Người tìm việc </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/dich-vu.htm">
                                                            Dịch vụ </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="https://chomienphi.net/mua/du-lich.htm">
                                                            Du lịch </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="fa fa-arrow-circle-right collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="https://chomienphi.net/#bid-11">
                                                <h4 class="panel-title">Sản phẩm khác</h4>
                                            </a>
                                        </div>
                                        <div id="bid-11" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="">
                                                        <a
                                                            href="https://chomienphi.net/mua/san-pham-rao-vat-khac.htm">
                                                            Sản phẩm khác </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="sell" class="tab-pane fade" style="height: 200px;">
                                <p>Bạn hãy đăng nhập để dễ dàng quản lý tin đăng.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 right">
                    <div class="content-box row">
                        <div class="breadcrumb">
                            <a>ChoMienPhi.net <i class="fa fa-angle-double-right"></i></a>
                            <a>Tin rao vặt</a>
                            <a><i class="fa fa-angle-double-right"></i> Hồ Chí Minh</a>
                            <i class="fa fa-angle-double-right"></i> Xe máy </div>
                        <h1>Rao vặt tại Hồ Chí Minh</h1>
                        <div class="tab-wrapper">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="?t=all&amp;v=list">Tất
                                        cả 6,919</a></li>
                                <li class=""><a href="?t=f&amp;v=list">Cá
                                        nhân 6,909</a></li>
                                <li class=""><a href="?t=c&amp;v=list">Công
                                        ty 10</a></li>
                                <!-- FiLTER -->
                                <li class="filter pull-right hidden-xs ">
                                    <ul class="type-filter">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-clock-o"></i>
                                                <i class="fa fa-long-arrow-down"></i>
                                                <i class="fa fa-long-arrow-up"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                VNĐ
                                                <i class="fa fa-long-arrow-down"></i>
                                                <i class="fa fa-long-arrow-up"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="all-articles" class="tab-pane fade in active">
                                    <ul class="list_type_box">
                                        <li class="row">
                                            <div class="article-img col-xs-2">
                                                <a routerLink="/detail-product">
                                                    <img src="https://chomienphi.net/public/fe/images/no_image.png"
                                                        alt="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ"
                                                        title="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ">
                                                </a>
                                            </div>
                                            <div class="article-desc col-xs-9">
                                                <a class="title" routerLink="/detail-product">Bán xe Honda PCX 150 đời 2018, mới 95% ngay
                                                    chủ</a>
                                                <p class="price">58,800,000 VNĐ</p>
                                                <p class="desc-time">
                                                    <i class="fa fa-map-marker" aria-hidden="true">
                                                        &nbsp;Hồ Chí Minh
                                                    </i>
                                                    <span>|</span>
                                                    <i class="fa fa-clock-o" aria-hidden="true">
                                                        &nbsp;17 tiếng trước
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="article-bookmark text-right col-xs-1">
                                                <a class="title" href="">
                                                    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="article-img col-xs-2">
                                                <a href="">
                                                    <img src="https://chomienphi.net/public/fe/images/no_image.png"
                                                        alt="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ"
                                                        title="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ">
                                                </a>
                                            </div>
                                            <div class="article-desc col-xs-9">
                                                <a class="title" href="">Bán xe Honda PCX 150 đời 2018, mới 95% ngay
                                                    chủ</a>
                                                <p class="price">58,800,000 VNĐ</p>
                                                <p class="desc-time">
                                                    <i class="fa fa-map-marker" aria-hidden="true">
                                                        &nbsp;Hồ Chí Minh
                                                    </i>
                                                    <span>|</span>
                                                    <i class="fa fa-clock-o" aria-hidden="true">
                                                        &nbsp;17 tiếng trước
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="article-bookmark text-right col-xs-1">
                                                <a class="title" href="">
                                                    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="article-img col-xs-2">
                                                <a href="">
                                                    <img src="https://chomienphi.net/public/fe/images/no_image.png"
                                                        alt="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ"
                                                        title="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ">
                                                </a>
                                            </div>
                                            <div class="article-desc col-xs-9">
                                                <a class="title" href="">Bán xe Honda PCX 150 đời 2018, mới 95% ngay
                                                    chủ</a>
                                                <p class="price">58,800,000 VNĐ</p>
                                                <p class="desc-time">
                                                    <i class="fa fa-map-marker" aria-hidden="true">
                                                        &nbsp;Hồ Chí Minh
                                                    </i>
                                                    <span>|</span>
                                                    <i class="fa fa-clock-o" aria-hidden="true">
                                                        &nbsp;17 tiếng trước
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="article-bookmark text-right col-xs-1">
                                                <a class="title" href="">
                                                    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="article-img col-xs-2">
                                                <a href="">
                                                    <img src="https://chomienphi.net/public/fe/images/no_image.png"
                                                        alt="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ"
                                                        title="Bán xe Honda PCX 150 đời 2018, mới 95% ngay chủ">
                                                </a>
                                            </div>
                                            <div class="article-desc col-xs-9">
                                                <a class="title" href="">Bán xe Honda PCX 150 đời 2018, mới 95% ngay
                                                    chủ</a>
                                                <p class="price">58,800,000 VNĐ</p>
                                                <p class="desc-time">
                                                    <i class="fa fa-map-marker" aria-hidden="true">
                                                        &nbsp;Hồ Chí Minh
                                                    </i>
                                                    <span>|</span>
                                                    <i class="fa fa-clock-o" aria-hidden="true">
                                                        &nbsp;17 tiếng trước
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="article-bookmark text-right col-xs-1">
                                                <a class="title" href="">
                                                    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="text-center mb15">
                                        <ul class="pagination pagination-sm pull-right m0">
                                            <li class="active"><a>1</a></li>
                                            <li><a href="https://chomienphi.net/mua/xe-may.htm?t=all&amp;a=3&amp;c=2&amp;fkeyword=&amp;sortby=fdate&amp;sorttype=DESC&amp;page=20"
                                                    data-ci-pagination-page="2">2</a></li>
                                            <li><a href="https://chomienphi.net/mua/xe-may.htm?t=all&amp;a=3&amp;c=2&amp;fkeyword=&amp;sortby=fdate&amp;sorttype=DESC&amp;page=40"
                                                    data-ci-pagination-page="3">3</a></li>
                                            <li><a href="https://chomienphi.net/mua/xe-may.htm?t=all&amp;a=3&amp;c=2&amp;fkeyword=&amp;sortby=fdate&amp;sorttype=DESC&amp;page=20"
                                                    data-ci-pagination-page="2" rel="next">»</a></li>
                                            <li><a href="https://chomienphi.net/mua/xe-may.htm?t=all&amp;a=3&amp;c=2&amp;fkeyword=&amp;sortby=fdate&amp;sorttype=DESC&amp;page=6900"
                                                    data-ci-pagination-page="346">→</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="about-text-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>