<div id="content" class="col-xs-12 article-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-plus"></i> Thay đổi mật khẩu Nguyễn Văn Mạnh</h3>
                <form action="https://chomienphi.net/users/changepass" enctype="multipart/form-data" method="post"
                    accept-charset="utf-8">

                    <div class="form-group">
                        <label>Mật khẩu củ</label>
                        <input type="password" name="user_password_old" value="" class="form-control"
                            id="user_password_old" placeholder="Enter text">
                    </div>

                    <div class="form-group">
                        <label>Mật khẩu mới</label>
                        <input type="password" name="user_password_news" value="" class="form-control"
                            id="user_password_news" placeholder="Enter text">
                    </div>

                    <div class="form-group">
                        <label>Nhập lại Mật khẩu mới</label>
                        <input type="password" name="user_password_news_conf" value="" class="form-control"
                            id="user_password_news_conf" placeholder="Enter text">
                    </div>

                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu lại </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>