<div class="wrapper">
    <div id="content" class="col-md-12 article-post">
        <div class="container">
            <div class="main row">
                <div class="col-xl-12 process-bar">
                    <div class="row post-step">
                        <div class="col-xs-4 post-step-step complete">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a class="post-step-num">1</a>
                            <div class="post-step-info text-center">Tạo tin</div>
                        </div>
                        <div class="col-xs-4 post-step-step disabled active-step-2">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a class="post-step-num">2</a>
                            <div class="post-step-info text-center">Kiểm tra lại</div>
                        </div>
                        <div class="col-xs-4 post-step-step disabled">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a class="post-step-num">3</a>
                            <div class="post-step-info text-center">Hoàn tất</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 left">
                    <div class="breadcrumb newpost">
                        <i class="fa fa-arrow-circle-right"></i>
                        <span class="panel-title panel-title-post">Xe cộ &gt; Xe máy</span>
                        <a rel="nofollow" href="">Thay đổi chuyên mục</a>
                    </div>
                    <form action="https://chomienphi.net/dang-tin-mien-phi.html?step=two&amp;pcid=1&amp;scid=2"
                        class="form-horizontal" method="POST" role="form" enctype="multipart/form-data"
                        accept-charset="utf-8">
                        <input type="hidden" id="action" value="">
                        <div class="review_input">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tỉnh/Thành</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="po_area" id="city">
                                        <option value="3">Hồ Chí Minh</option>
                                        <option value="1">Hà nội</option>
                                        <option value="2">Đà Nẵng</option>
                                        <option value="4">Hải Phòng</option>
                                        <option value="5">Cần Thơ</option>
                                        <option value="6">Bình Dương</option>
                                        <option value="7">An Giang</option>
                                        <option value="8">Bà Rịa - Vũng Tàu</option>
                                        <option value="9">Bắc Giang</option>
                                        <option value="411">Văn Lâm</option>
                                        <option value="10">Bắc Cạn</option>
                                        <option value="11">Bạc Liêu</option>
                                        <option value="12">Bắc Ninh</option>
                                        <option value="13">Bến Tre</option>
                                        <option value="14">Bình Định</option>
                                        <option value="15">Bình Phước</option>
                                        <option value="16">Bình Thuận</option>
                                        <option value="17">Cà Mau</option>
                                        <option value="18">Cao Bằng</option>
                                        <option value="19">Đắk Lắk</option>
                                        <option value="20">Đắk Nông</option>
                                        <option value="21">Điện Biên</option>
                                        <option value="22">Đồng Nai</option>
                                        <option value="23">Đồng Tháp</option>
                                        <option value="24">Gia Lai</option>
                                        <option value="25">Hà Giang</option>
                                        <option value="26">Hà Nam</option>
                                        <option value="27">Hà Tĩnh</option>
                                        <option value="28">Hải Dương</option>
                                        <option value="29">Hậu Giang</option>
                                        <option value="30">Hòa Bình</option>
                                        <option value="31">Hưng Yên</option>
                                        <option value="32">Khánh Hòa</option>
                                        <option value="33">Kiên Giang</option>
                                        <option value="34">Kon Tom</option>
                                        <option value="35">Lai Châu</option>
                                        <option value="36">Lâm Đồng</option>
                                        <option value="37">Lạng Sơn</option>
                                        <option value="38">Lào Cai</option>
                                        <option value="39">Long An</option>
                                        <option value="40">Nam Định</option>
                                        <option value="41">Nghệ An</option>
                                        <option value="42">Ninh Bình</option>
                                        <option value="43">Ninh Thuận</option>
                                        <option value="44">Phú Thọ</option>
                                        <option value="45">Phú Yên</option>
                                        <option value="46">Quảng Bình</option>
                                        <option value="47">Quảng Nam</option>
                                        <option value="48">Quảng Ngãi</option>
                                        <option value="49">Quảng Ninh</option>
                                        <option value="50">Quảng Trị</option>
                                        <option value="51">Sóc Trăng</option>
                                        <option value="52">Sơn La</option>
                                        <option value="53">Tây Ninh</option>
                                        <option value="54">Thái Bình</option>
                                        <option value="55">Thái Nguyên</option>
                                        <option value="56">Thanh Hóa</option>
                                        <option value="57">Thừa Thiên Huế</option>
                                        <option value="58">Tiền Giang</option>
                                        <option value="59">Trà Vinh</option>
                                        <option value="60">Tuyên Quang</option>
                                        <option value="61">Vĩnh Long</option>
                                        <option value="62">Vĩnh Phúc</option>
                                        <option value="63">Yên Bái</option>
                                        <option value="64">Nước Ngoài</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Quận/Huyện</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="district" name="po_district">
                                        <option value="65">Quận 1</option>
                                        <option value="66">Quận 2</option>
                                        <option value="67">Quận 3</option>
                                        <option value="68">Quận 4</option>
                                        <option value="69">Quận 5</option>
                                        <option value="70">Quận 6</option>
                                        <option value="71">Quận 7</option>
                                        <option value="72">Quận 8</option>
                                        <option value="73">Quận 9</option>
                                        <option value="74">Quận 10</option>
                                        <option value="75">Quận 11</option>
                                        <option value="76">Quận 12</option>
                                        <option value="77">Quận Bình Tân</option>
                                        <option value="78">Quận Bình Thạnh</option>
                                        <option value="79">Quận Gò Vấp</option>
                                        <option value="80">Quận Phú Nhuận</option>
                                        <option value="81">Quận Tân Bình</option>
                                        <option value="82">Quận Tân Phú</option>
                                        <option value="83">Quận Thủ Đức</option>
                                        <option value="86">Huyện Bình Chánh</option>
                                        <option value="87">Huyện Cần Giờ</option>
                                        <option value="88">Huyện Củ Chi</option>
                                        <option value="89">Huyện Hóc Môn</option>
                                        <option value="90">Huyện Nhà Bè</option>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" name="po_cate" value="2">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Bạn là</label>
                                <div class="col-sm-4 radio">
                                    <label>
                                        <input type="radio" name="po_is_company" checked="" value="1">Cá
                                        nhân
                                    </label>
                                </div>
                                <div class="col-sm-4 radio">
                                    <label>
                                        <input type="radio" name="po_is_company" value="2">
                                        Công ty
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Bạn đăng tin</label>
                                <div class="col-sm-4 radio">
                                    <label><input type="radio" name="po_type" checked="" value="1">Cần
                                        bán</label>
                                </div>
                                <div class="col-sm-4 radio">
                                    <label><input type="radio" name="po_type" value="2">Cần
                                        mua</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tiêu đề</label>
                                <div class="col-sm-8">
                                    <input type="text" name="po_title" value="" class="form-control title prequired"
                                        id="po_title" placeholder="Tiêu đề" required="required" autocomplete="off">
                                    <span class="char-left text-required">
                                        Tiêu đề phải từ 10-100 ký tự. Chỉ điền tên sản phẩm, tóm tắt ngắn gọn giới
                                        thiệu.
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Giá</label>
                                <div class="col-sm-8">
                                    <input autocomplete="off" class="form-control prequired" id="po_price"
                                        type="number" name="po_price" value="" placeholder="Giá">
                                    <span class="review_po_price char-left text-required">Giá phải lớn hơn 1.000
                                        vnđ</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nội dung</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control content prequired" maxlength="2000" rows="10"
                                        id="po_detail" name="po_detail"
                                        placeholder="Mô tả chi tiết sản phẩm, không điền số điện thoại trong nội dung. Người mua sẽ tìm số trong mục liên hệ bên dưới."></textarea>
                                    <span class="char-left text-required">Nội dung phải từ 30-2000 ký tự</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Đăng hình ảnh</label>
                                <div class="col-sm-8">
                                    <label for="file" id="upload-image" class="dropzone dz-clickable">
                                        <input type="file" name="file" id="file">
                                        <div id="po_picture_more"></div>
                                        <div class="dz-default dz-message"><span>
                                                <h4>Đăng ảnh thật để được hiệu quả nhất</h4><i
                                                    class="fa camera-upload"><img
                                                        src="https://chomienphi.net/public/fe/images/upload-camera.png"
                                                        alt=""></i><span class="upload-desc">Click vào dấu cộng ở
                                                    trên để up hình. Bạn có thể up tối đa 10 hình, mỗi hình tối đa
                                                    6MB</span>
                                            </span></div>
                                    </label>
                                </div>
                            </div>
                            <b> Cách thanh toán: Người mua và người bán tự thỏa thuận</b>
                            <hr>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Người liên hệ</label>
                                <div class="col-sm-8">
                                    <input autocomplete="off" class="form-control prequired" type="text"
                                        id="po_fullname" name="po_fullname" value="" placeholder="Người liên hệ">
                                    <span class="char-left text-required">Thông tin bắt buộc</span>
                                </div>
                            </div>
                            <div class="form-group phone">
                                <label class="col-sm-4 control-label">Số điện thoại</label>
                                <div class="col-sm-5 number">
                                    <input autocomplete="off" class="form-control prequired" type="text"
                                        name="po_phone" id="po_phone" value="" placeholder="Số điện thoại">
                                    <span class="char-left text-required">Thông tin bắt buộc</span>
                                </div>
                                <div class="row col-sm-3 text-center checkbox">
                                    <label><input type="checkbox" name="po_phone_visible" checked="" value="1">Hiển
                                        thị số ĐT</label>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Địa chỉ</label>
                                <div class="col-sm-8">
                                    <input autocomplete="off" class="form-control" type="text" name="po_address"
                                        id="po_address" value="" placeholder="Địa chỉ">
                                </div>
                            </div>

                            <div class="col-xs-12 hidden-xs col-lg-4"></div>
                            <div class="col-xs-12 col-lg-8">
                                <div class="message-form alert alert-danger"></div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <button type="button" name="fsubmit"
                                        class="btn btn-default fpsubmit fpsubmit-post">
                                        <a routerLink="/post-step3">Tiếp tục</a> <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>

                        <!--review post-->
                        <div class="review_post" style="display: none">

                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-4 text-center right">
                    <div class="alert alert-info box-info-note text-left">
                        <ul class="note-step2">
                            <li><strong>Lưu ý:</strong></li>
                            <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Bạn nên tạo tài khoản để được
                                sử dụng
                                đầy đủ các chức năng và quản lý tin đăng tốt hơn.
                            </li>
                            <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Miêu tả chi tiết sản phẩm:
                                thương
                                hiệu,tình trạng,phụ kiện đi kèm...
                            </li>
                            <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tin rao vặt bằng tiếng Việt có
                                dấu.
                            </li>
                            <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Mỗi tin rao vặt chỉ rao bán
                                một mặt
                                hàng.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>