a:focus,
a:hover {
    text-decoration: none;
}

#header {
    margin: 0;
    padding: 0;
}

#header .container-fluid {
    margin: 0;
    padding: 0;
}

#header .right {
    text-align: right;
    margin-top: 1.525%;
}

#header .right .newpost {
    background-color: #E97926;
    padding: 15px 20px;
    border-radius: 3px;
    margin-left: 20px;
    color: #FFF;
}

.newpost span {
    color: #FFF !important;
}

#header .right span {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    display: inline-block;
}

.top-navbar {
    background-color: #E9F2CF;
    border-bottom: none;
    position: relative;
}

.logo {
    padding: 15px 0;
}

.logo img {
    height: 57px;
}

img {
    height: auto;
    max-width: 100%;
}

#searchbox {
    height: 100%;
    padding: 15px 0;
    background-color: #F6F6F6;
}

.search-field {
    margin: auto;
}

#searchbox .search-field div {
    padding: 0;
}

#searchbox .search-field .input-text:before {
    content: '\f002';
}

#searchbox .search-field div:before {
    font-family: FontAwesome;
    position: absolute;
    left: 10px;
    top: 6px;
    font-size: 18px;
}

#searchbox .search-field div:after {
    content: '|';
    position: absolute;
    right: 0;
    top: 1.5625%;
    font-size: 18px;
    color: #CCC;
}

#searchbox .search-field div:last-child:after {
    content: '';
}

#searchbox .search-field .input-category:before {
    content: '\f009';
}

#searchbox .search-field .input-location:before {
    content: '\f041';
}

#searchbox .search-field div:first-child input,
#searchbox .search-field div:first-child select {
    border-left: 1px solid #CCC;
}

#searchbox input {
    padding-left: 30px;
}

#searchbox select {
    text-indent: 25px;
}

#searchbox input,
#searchbox select {
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    height: 35px;
    color: #716e6e;
    -webkit-appearance: none;
}

#searchbox .search-field div:last-child input,
#searchbox .search-field div:last-child select {
    border-right: 1px solid #CCC;
}

select {
    width: 250px;
    border: 1px solid #DCE4EC;
    background-color: #FFF;
    height: 30px;
    padding: 5px;
}

#searchbox .search-btn {
    padding: 0;
    text-align: right;
}

#searchbox .search-btn .btn {
    color: #FFF;
    padding: 6.5px 0;
    width: 100%;
}

.btn-search {
    background-color: #E97926;
    border-color: #E97926;
    padding: 10px 0;
}

.tab-box {
    margin: 30px 0;
}

.tab-box .nav-tabs>li {
    border-bottom: 1px solid #ddd;
    width: 33%;
    text-transform: uppercase;
    font-weight: 700;
}

.tab-box .nav-tabs>li.active>a {
    background-color: #FFF;
    color: #666;
}

.tab-box .nav-tabs>li>a {
    margin-right: 0;
    background-color: #eee;
    color: #12679B;
}

.panel-default>.panel-heading a {
    color: orange;
    display: block;
    padding: 10px 5px;
    position: relative;
}

.panel-default>.panel-heading a.fa:before {
    margin-right: 5px;
    position: absolute;
    color: orange;
    top: 2px;
}

.panel-default>.panel-heading a.fa:after {
    content: '\f105';
    position: absolute;
    right: 5px;
    top: 2px;
    font-weight: 700;
    color: #666;
}

.panel-title {
    font-family: 'Open Sans', sans-serif;
    margin-top: -18px;
    margin-bottom: -10px;
    font-size: 14px;
    color: inherit;
    padding-left: 20px;
}

#main-tab {
    margin-top: 5px;
}

.panel-default .panel-body>ul li.active a,
.panel-default .panel-body>ul li.active {
    color: orange;
}

.panel-default .panel-body>ul li {
    padding-left: 10px;
}

.panel-default .panel-body>ul li:before {
    content: '\f0da';
    font-family: FontAwesome;
    margin-right: 1px;
}

.panel-body ul {
    padding: 0 10px;
    list-style: none;
    font-size: 14px;
}

.content-box {
    margin-top: 73px;
    margin-right: 0;
    border: 1px solid #ddd;
    padding: 5px 10px;
}

.content-box h1 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px auto;
    color: orange;
}

.content-box .tab-wrapper ul.nav-tabs li.active {
    font-weight: 700;
}

.content-box .tab-wrapper ul.nav-tabs li {
    width: 21%;
    text-align: center;
}

.content-box .filter ul li {
    display: inline-block;
    width: auto !important;
    /* float: left; */
}

.content-box .filter ul li a {
    padding: 8px 15px;
    border-radius: 2px;
    background-color: #eee;
    margin: 0 2px;
    color: #666666 !important;
}

.filter {
    width: fit-content !important;
}

.filter .type-filter {
    margin: 5px 0;
}

.list_type_box {
    list-style: none;
    padding: 0 20px;
}

.price {
    font-weight: bold;
    color: red;
}

.article-desc {
    color: #CCC;
}

.article-bookmark i {
    color: red;
}

.content-box .tab-wrapper .tab-content ul li {
    padding: 15px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

#footer-area {
    background-color: #E9F2CF;
    color: #6B6B6B;
    font-size: 12px;
    padding-top: 30px;
}

#footer-area .content {
    width: 85%;
}

#footer-area .content ul {
    padding-left: 0;
    list-style: none;
    font-size: 14px;
}

#footer-area .content ul>li {
    padding-top: 5px;
}

#footer-area .content h2 {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #666;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

#footer-area a {
    color: #6B6B6B;
    vertical-align: middle;
}

#footer-area .socials .content ul li {
    display: list-item;
}

#footer-area .content ul .fa:before {
    position: absolute;
    font-size: 20px;
    padding: 5px 0;
    text-align: center;
    width: 24px;
    height: 24px;
}

#footer-area .socials a {
    padding-left: 34px;
    line-height: 2;
}

#content .left h2.head-text {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1687c5;
}

.cate-box {
    margin: 15px -1% 30px;
}

.cate-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cate-box ul li {
    display: block;
    float: left;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.cate-home-page h1,
.cate-home-page span {
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    color: #fff;
    text-align: center;
    width: 100%;
    padding-left: 5px;
    padding-top: 20px;
    font-size: 14px;
    margin-top: 0;
    font-weight: bold;
    color: yellow;
}

.cate-box ul li img {
    width: 100%;
    height: 120px;
    border-radius: 10px;
}

.map-search .map {
    display: block;
    background-size: contain;
    position: relative;
    padding: 0px;
    width: 340px;
    height: 480px;
    margin-top: 15px;
}

h2.head-text {
    font-size: 14px;
    font-style: italic;
}

h1.head-text {
    font-size: 16px;
    font-weight: 700;
}

.article-details .main {
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 20px 0;
    padding-top: 5px;
    padding-bottom: 30px;
}

.article-details .article-img {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.article-details .article-img img {
    max-height: 460px;
    margin: 0 auto;
}

.similar-product {
    height: 100%;
}

#owl-similar-post .item-product {
    margin-top: 20px;
}

.owl-prev i {
    position: absolute;
    top: 40%;
    left: 20px;
    color: #CCC;
}

.owl-next i {
    position: absolute;
    top: 40%;
    right: 20px;
    color: #CCC;
}

.owl-next:hover i,
.owl-prev:hover i {
    color: #FFF;
}

#owl-similar-post .owl-dots {
    position: absolute;
    bottom: 35px;
    width: 100%;
}

.content_format_pre {
    width: 100%;
    display: block;
    background: transparent;
    border: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    word-break: keep-all;
    line-height: 21px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.article-details .desc-content {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.article-details .sharing h2 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #12679B;
}

.social-page {
    margin-top: 15px;
}

.box-face {
    list-style: none;
    margin: 0;
    padding: 0;
}

.box-face li {
    display: inline-block;
}

.protected-buyer {
    display: flex;
    flex-direction: row;
    justify-items: left;
}

.protected-buyer img {
    width: 3rem;
    height: 3rem;
}

.protected-buyer-action button {
    color: red !important;
}

.contact-box {
    margin-right: 0;
    margin-top: 93px;
}

.navigation {
    float: right;
    display: block;
    margin-bottom: -25px;
    right: 0;
    top: 10px;
    position: absolute;
    width: 248px;
}

.left_arrow {
    border-color: transparent #f0f0f0 transparent transparent;
    border-style: solid;
    border-width: 12px;
    display: block;
    font-size: 0;
    height: 0;
    padding: 0;
    float: left;
    width: 0;
}

.navigation .back_to_list {
    display: block;
    float: left;
}

.navigation .back_to_list a {
    color: #666;
    text-decoration: none;
    display: block;
    height: 24px;
    background: #f0f0f0;
    padding: 2px 5px;
}

.navigation .next_ad {
    float: left;
    margin-left: 5px;
}

.navigation .next_ad a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: right;
    height: 24px;
    background: #8a8686;
    padding: 2px 5px;
}

.right_arrow {
    border-color: transparent transparent transparent #8a8686;
    border-style: solid;
    border-width: 12px;
    display: block;
    float: left;
    font-size: 0;
    height: 0;
    padding: 0;
    width: 0;
}

.contact-box .details {
    border: 1px solid orange;
    border-radius: 3px;
    padding: 0 0 20px;
    position: relative;
}

.contact-box .details:before {
    content: '\f104';
    font-family: FontAwesome;
    position: absolute;
    left: -8px;
    top: 40px;
    font-size: 25px;
    color: #E97926;
    background-color: #FFF;
    line-height: .5;
}

.contact-box .details h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 20px;
    color: #676262;
}

.contact-box .details .btnphone.contact.phone span {
    background-color: #E97926;
    color: #FFF;
    border-radius: 3px;
    margin: 10px 20px;
    padding: 5px 0;
}

.contact-box .details .btnphone.contact span {
    display: block;
    font-size: 18px;
}

.contact-box .details a {
    font-size: 20px;
    color: #12679B;
}

.aphone {
    color: #fff !important;
    cursor: pointer;
}

.contact-box .safe-tips {
    font-family: sans-serif;
}

.contact-box .safe-tips h2 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #12679B;
    margin: 10px 0;
}

.row .post-step {
    margin: 0;
}

.row .post-step div.post-step-step:first-child {
    padding-left: 15px;
}

.row .post-step div.post-step-step:last-child {
    padding-right: 15px;
}

.post-step>.post-step-step {
    padding: 0;
    position: relative;
}

.post-step>.post-step-step>.progress {
    position: relative;
    border-radius: 0;
    height: 8px;
    box-shadow: none;
    margin-top: 37px;
}

.post-step .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #666;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.post-step>.post-step-step>.progress>.progress-bar {
    width: 0;
    box-shadow: none;
    background: #E97926;
}

.post-step>.post-step-step.active>.progress>.progress-bar {
    width: 50%;
}

.post-step>.post-step-step>.post-step-num {
    position: absolute;
    width: 24px;
    height: 24px;
    display: block;
    background: #E97926;
    left: 50%;
    margin-top: -35px;
    margin-left: -15px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
}

.row .post-step div.post-step-step:first-child .post-step-info {
    margin-left: -25px;
}

.row .post-step div.post-step-step .post-step-info {
    margin-left: -10px;
}

.article-post .left h2 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
}

.article-post .numberCircle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #E97926;
    color: #FFF;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    margin-right: 5px;
}

.article-post .panel-default {
    border: 0;
    box-shadow: none;
    list-style: none;
    padding: 0;
}

.article-post ul.panel-default li:first-child,
.article-post .panel-body ul li:first-child {
    border-top: 1px solid #ddd;
    border-radius: 0;
}

.article-post ul.panel-default li,
.article-post .panel-default .panel-body ul li {
    border-bottom: 1px solid #ddd;
    transition: 0.4s;
}

.panel-group .panel {
    margin-top: 0 !important;
    border-radius: 0;
}

.panel-default>.panel-heading a.collapsed {
    color: #666;
}

.article-post ul.panel-default li:hover,
.article-post .panel-default .panel-body ul li:hover {
    background-color: #E9F2CF;
}

.article-post .panel-default .panel-body {
    padding: 0;
}

.article-post .panel-default .panel-body ul li:before {
    position: absolute;
}

.article-post .panel-default .panel-body ul li a {
    padding: 10px 0;
    display: block;
    position: relative;
}

.article-post .panel-default .panel-body>ul li a.fa:before {
    position: absolute;
    margin-left: 5px;
}

.level-2 .panel-default .panel-body>ul li {
    padding: 10px;
}

.post-step>.post-step-step.complete>.progress>.progress-bar {
    width: 100%;
}

.article-post .breadcrumb.newpost .fa {
    color: orange;
}

.article-post .breadcrumb.newpost .panel-title {
    font-weight: 700;
    line-height: 1;
    padding: 0 5px;
    border-right: 2px solid;
}

.panel-title.panel-title-post {
    color: black !important;
}

.article-post .breadcrumb.newpost a {
    color: #12679B;
    font-weight: 700;
    padding: 0 5px;
}

.breadcrumb.newpost {
    margin-bottom: 20px;
}

.char-left {
    display: block;
    margin-top: 5px;
    font-style: italic;
    font-size: 12px;
}

.text-required {
    color: #af8484;
}

#upload-image {
    position: relative;
    background: transparent;
}

.dropzone.dz-clickable {
    cursor: pointer;
}

.article-post .dropzone {
    border: 1px solid #ddd;
    padding: 0;
    box-sizing: border-box;
}

.article-post .dropzone input[type='file'] {
    display: none;
}

.dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
}

.article-post .dropzone h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #12679B;
}

.article-post .dropzone .fa {
    color: #ccc;
    padding: 15px 0;
}

.article-post .dropzone .upload-desc {
    display: block;
    padding: 0 15px;
    font-size: 13px;
}