<div class="wrapper">
    <div id="content" class="col-xs-12 home-page">
        <div class="container">
            <div class="main row row20 rowfixed">
                <div class="col-sm-12 col-md-8 col-lg-7 left">
                    <h2 class="head-text">Khám phá danh mục</h2>
                    <div class="cate-box">
                        <ul *ngFor = "let name of typeProduct ; let i = index">
                            <li class="cate-home-page">
                                <a routerLink="/list-product" title="{{images[i].url}}">
                                    <img src="{{images[i].url}}" alt="{{images[i].url}}" title="{{images[i].name}}">
                                    <span>{{name.groupName}}</span> </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-5 right hidden-xs hidden-sm">
                    <h2 class="head-text">Chọn Khu vực bạn ở để xem tin...</h2>
                    <div class="map-search">
                        <div class="map">
                            <img src="./assets/img/map.png" alt="maps" title="maps" width="100%" usemap="#map-vn">
                        </div>
                        <map id="map-vn" name="map-vn">
                            <area shape="circle" alt="Ha Noi" title="" coords="117,69,7" href="" target="">
                            <area shape="circle" alt="Hai Phong" title="" coords="161,70,4" href="" target="">
                            <area shape="circle" alt="Hue" title="" coords="166,219,4" href="" target="">
                            <area shape="circle" alt="Da Nang" title="" coords="178,232,7" href="" target="">
                            <area shape="circle" alt="Ho Chi Minh" title="" coords="140,402,7" href="" target="">
                            <area shape="circle" alt="Can Tho" title="" coords="108,425,4" href="" target="">
                        </map>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>