<div id="content" class="col-xs-12 article-details">
    <div class="container">
        <form action="https://chomienphi.net/users/profile" enctype="multipart/form-data" method="post"
            accept-charset="utf-8">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Tài khoản</label>
                        <input type="text"  class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Địa chỉ email <span class="text-danger">(*)</span></label>

                        <input type="text" name="user_email"  class="form-control"
                            readonly="readonly">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Họ tên <span class="text-danger">(*)</span></label>
                        <input type="text" name="user_fullname" class="form-control"
                            id="user_fullname" placeholder="Enter text">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Ngày sinh</label>
                        <input type="text" name="user_birthday" value="" class="form-control" id="user_birthday"
                            placeholder="Enter text">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Số điện thoại <span class="text-danger">(*)</span></label>
                        <input type="text" name="user_phone" value="" class="form-control" id="user_phone"
                            placeholder="Enter text">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Giới tính</label>
                        <select class="form-control" id="user_gender" name="user_gender">
                            <option value="1">Nam</option>
                            <option value="2">Nữ</option>
                            <option selected="selected" value="0">Khác</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Hình ảnh</label>
                <input type="file" name="user_picture" value="" class="form-control" id="user_picture">
                <br>
                <ul class="ul_pic">
                </ul>
            </div>
            <div class="form-group">
                <label>Chi tiết</label>
                <textarea name="user_note" cols="40" rows="10" class="form-control" id="user_note"
                    placeholder="Enter text" value=""></textarea>
            </div>

            <hr>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu lại</button>
            </div>
        </form>
    </div>
</div>