<!-- FOOTER -->
<div id="footer-area" class="col-xs-12">
    <div class="container">
        <div class="row links">
            <div class="col-md-3 support">
                <div class="content">
                    <h2>Hỗ trợ khách hàng</h2>
                    <ul>
                        <li>
                            <a href="https://chomienphi.net/news/quy-dinh-dang-tin.html">
                                Quy định đăng tin </a>
                        </li>
                        <li>
                            <a href="https://chomienphi.net/news/quy-che-hoat-dong.html">
                                Quy chế hoạt động </a>
                        </li>
                        <li>
                            <a href="https://chomienphi.net/news/dieu-khoan-su-dung.html">
                                Điều khoản sử dụng </a>
                        </li>
                        <li><a href="https://chomienphi.net/lien-he-ho-tro.html">Liên hệ hỗ trợ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 about">
                <div class="content">
                    <h2>ChoMienPhi.net</h2>
                    <ul>
                        <li>
                            <a href="https://chomienphi.net/news/gioi-thieu-muc-tieu.html">
                                Giới thiệu - Mục tiêu </a>
                        </li>
                        <li>
                            <a href="https://chomienphi.net/news/chinh-sach-bao-mat.html">
                                Chính sách bảo mật </a>
                        </li>
                        <li>
                            <a href="https://chomienphi.net/news/giai-quyet-tranh-chap.html">
                                Giải quyết tranh chấp </a>
                        </li>
                        <li>
                            <a href="https://chomienphi.net/news/Quang-cao.html">
                                Quảng cáo </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 socials">
                <div class="content">
                    <h2>Liên kết</h2>
                    <ul>
                        <li class="fa fa-facebook-square" aria-hidden="true">
                            <a target="_blank" rel="nofollow" href="">Facebook</a>
                        </li>
                        <li class="fa fa-google-plus">
                            <a target="_blank" rel="nofollow" href="">Google+</a>
                        </li>
                        <li class="fa fa-youtube">
                            <a target="_blank" rel="nofollow" href="">Youtube</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 certi">
                <div class="content">
                    <h2>Chứng nhận</h2>
                    <ul>
                        <li>
                            <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=30362" target="_blank"
                                rel="nofollow">
                                <img src="https://chomienphi.net/public/fe/images/dathongbao.png"
                                    alt="dathongbao.png" title="dathongbao.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>